:root {
  --primary-hs: 104 13%;
  --primary-color: hsl(var(--primary-hs) 52%);
  --primary-light: hsl(var(--primary-hs) 72%);

  --inputBorderRadius: 4px;
  --inputBorder: 1px solid #aeaeae;
  --inputBgColor: white;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Noto Serif Thai', serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.25em;
  font-weight: bold;
}

p,
a {
  font-size: 1em;
}

input,
button,
select {
  --fontSize: 1.25em;
  --verticalPadding: 16px;
  --horizontalPadding: 10px;

  width: 100%;
  font-size: var(--fontSize);
  padding: var(--horizontalPadding) var(--verticalPadding);
  font-family: 'Noto Serif Thai', serif;
}

button {
  border: none;
  border: 2px solid var(--primary-light);
  display: block;
  appearance: none;
  border-radius: 6px;
  width: 100%;
  background-color: #e8eae6;
  transition: 250ms ease-in-out color background-color border-color;
}
button:disabled {
  --disabled-color: hsl(90 9% 95%);
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  color: #999;
}

.primary-btn {
  transition: 250ms ease-in-out;
  background-color: var(--primary-color);
  color: white;
}

input,
select {
  display: block;
  border-radius: var(--inputBorderRadius);
  border: var(--inputBorder);
  background-color: var(--inputBgColor);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: italic;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-style: italic;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.line-login-btn {
  background-color: #06c755;
  color: #ffffff;
  border-color: #06c755;
}
