html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Noto Serif Thai', serif;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

p,
a {
  font-size: 1rem;
}

input,
button,
select {
  width: 100%;
  padding: 0.25rem;
  font-size: 1.25rem;
}

.primary-btn {
  background-color: deeppink;
  color: white;
}
